/* ===============
    general
================= */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --tajam_teal: #0de2d2;
  --tajam_blue: #52a9cf;
  --tajam_black: #1d1d1d;
  --tajam_txt_dark: #413d4b;
  --tajam_txt_light: #ffffff;
}

body {
  background-image: linear-gradient(#292929, #1d1d1d);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 14px; /* changed default font size to 14px to look like PSD */
  color: var(--tajam_txt_dark);
}

.wrapper {
  width: 100%;
  position: absolute;
}

.container {
  max-width: 1600px; /* maximum widith of content of page */
  margin: 0 auto; /* puts content in the center of page */
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
}

button {
  padding: 10px 15px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--tajam_teal);
  color: var(--tajam_teal);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: var(--tajam_blue);
  border: 1px solid var(--tajam_blue);
  transform: scale(1.1);
}

/* ===============
    Header
================= */

/* ===============
       Story
================= */

/* ===============
        video
================= */

/* ===============
    Expertise
================= */

/* ===============
        Team
================= */

.team {
  background-image: url(images/bgk-header.png);
  background-size: cover;
  height: 670px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team h3 {
  text-align: center;
  margin-top: 30px;
}

.Lorem {
  color: beige;
  text-align: center;
  margin-bottom: 30px;
}

.ul-team {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.team-image {
  background-color: oldlace;
  width: 100px;
  height: 110px;
}

ul p {
  width: 100px;
  height: 50px;
  text-align: center;
  border: oldlace 1px solid;
  padding-top: 10px;
}

ul li {
  list-style: none;
}

.p-button {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* ===============
      contact
================= */

/* ===============
      footer
================= */

.footer {
  background-image: url(./images/bgk-footer.png);
  background-size: cover;
  height: 400px;
}

.footer-body {
  color: white;
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.footer-body p {
  width: 250px;
}

.nav-p {
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin-right: 30px;
}
/* ===============
     Media Q
================= */
