/* ===============
    general
================= */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --tajam_teal: #0de2d2;
  --tajam_blue: #52a9cf;
  --tajam_black: #1d1d1d;
  --tajam_txt_dark: #413d4b;
  --tajam_txt_light: #ffffff;
}

body {
  background-image: linear-gradient(#292929, #1d1d1d);
  color: var(--tajam_txt_dark);
  font-family: "Roboto", sans-serif;
  font-size: 14px; /* changed default font size to 14px to look like PSD */
  min-height: 100vh;
}

.wrapper {
  position: absolute;
  width: 100%;
}

.container {
  margin: 0 auto; /* puts content in the center of page */
  max-width: 1600px; /* maximum widith of content of page */
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

button {
  background: transparent;
  border: 1px solid var(--tajam_teal);
  color: var(--tajam_teal);
  cursor: pointer;
  font-family: "Hammersmith One", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

button:hover {
  border: 1px solid var(--tajam_blue);
  color: var(--tajam_blue);
  transform: scale(1.1);
}

/* ===============
    Header
================= */
header {
  background-image: url(images/bgk-header.png);
  width: 100%;
  height: 670px;
  background-repeat: no-repeat;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 1rem;
}
nav div {
  display: flex;
  align-items: center;
}

nav svg {
  width: 50px;
  height: 50px;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0em 0.75em 0em 0.75em;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
}
nav a:hover {
  color: var(--tajam_teal);
}
nav h3 {
  background: -webkit-linear-gradient(
    45deg,
    var(--tajam_teal),
    var(--tajam_blue)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 1.5rem;
}
.header_welcoming_msg {
  display: flex;
  width: 50%;
  padding-top: 15em;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
header h1 {
  color: white;
  border-bottom: #0de2d2 solid 1px;
  padding: 1em 0em;
}
header p {
  color: white;
  text-align: center;
  padding: 2.5em;
  font-weight: 300;
  line-height: 1.5em;
}

/* ===============
       Story
================= */
.story {
  width: 100%;
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.story_txt {
  width: 35%;
}

.story_txt > * {
  margin: 20px 0;
}

/* ===============
        video
================= */

.video {
  width: 100%;
  height: 550px;
  background-image: url(images/bgk-middle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  display: block;
  width: 103px;
  height: 103px;
}

.video a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url(images/play.png);
  background-position: top;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.video a span {
  font-family: "Hammersmith One", sans-serif;
  color: var(--tajam_txt_light);
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.video a:hover {
  background-image: url(images/play_hover.png);
}

.video a:hover span {
  color: var(--tajam_teal);
}

/* ===============
    Expertise
================= */
.expertise {
  background-color: var(--tajam_txt_light);
  padding: 2rem 0;
}

.expertise__hgroup {
  text-align: center;
  font-family: "Playfair Display", serif;
  position: relative;
  padding-bottom: 1rem;
}

.expertise__hgroup-h {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.expertise__hgroup::after {
  content: "";
  background-color: #bfbec3;
  height: 2px;
  width: 3rem;
  border-radius: 2px;
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
}

.expertise__container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  max-width: 902px;
  background-color: #ededed;
  gap: 1px;
  place-content: center;
}

@media only screen and (max-width: 901px) {
  .expertise__container {
    max-width: 601px;
  }
}

@media only screen and (max-width: 601px) {
  .expertise__container {
    max-width: 300px;
  }
}

.expertise__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 2rem;
  background-color: var(--tajam_txt_light);
}

.expertise__card-icon {
  height: 50px;
  max-width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.expertise__card-heading {
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 0.8rem;
}

.expertise__card-text {
  text-align: center;
  font-size: 0.8rem;
  color: #666666;
}

/* ===============
        Team
================= */

/* ===============
      contact
================= */

/* ===============
      footer
================= */

/* ===============
      Media Q
================= */

@media (max-width: 992px) {
  /* media query for Tablet */
  /* ===============
    Header
  ================= */

  /* ===============
        Story
  ================= */
  .story {
    gap: 40px;
  }
  .story_txt {
    width: 50%;
  }

  /* ===============
        video
  ================= */
  .video {
    height: 450px;
  }

  /* ===============
    Expertise
  ================= */

  /* ===============
        Team
  ================= */

  /* ===============
      contact
  ================= */

  /* ===============
      footer
  ================= */

  /* ===============
      Media Q
  ================= */
}

@media (max-width: 576px) {
  /* media query for smartphone */
  /* ===============
    Header
  ================= */

  /* ===============
        Story
  ================= */
  .story {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .story_txt {
    width: 80%;
  }

  /* ===============
        video
  ================= */
  .video {
    height: 400px;
  }

  /* ===============
    Expertise
  ================= */

  /* ===============
        Team
  ================= */

  /* ===============
      contact
  ================= */

  /* ===============
      footer
  ================= */

  /* ===============
      Media Q
  ================= */
}
